.chatbot-popup {
  width: 320px;
  background: #fff;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #6d4fc2;
}

.chat-header .header-info{
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info svg {
  height: 35px;
  width: 35px;
  background: #fff;
  border-radius: 50%;
}